#image{
    display:block;
    height:auto;
    max-width:100%;
    border-radius:50%;
    margin:auto;
  }
  #img-caption,#title{
    text-align:center;
  }
  #nowrap{
    white-space:nowrap;
  }
  #main{
    max-width:600px;
    border-radius:30px;
  }
  #tribute-info,#main,#tribute-link{
    background:rgba(200,200,200,0.4);
    padding:1rem;
  }
  #tribute-link{
    display:block;
    margin:1rem 0;
    text-align:center;
    text-decoration:none;
    color:#333;
  }
  #tribute-link:hover{
    color:#000;
    background:rgba(255,255,255,0.4);
  }
  body{
    background:#caae98;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  :root{
    font-family:monospace;
    font-size:18px;
  }